.navbar {
  background-color: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  position: relative;
}

.nav-logo {
  color: #004aad;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:hover .nav-links {
  color: #004aad;
  border-bottom: 3px solid #004aad;
}

.nav-icon {
  display: none;
  color: #004aad;
}

.logo {
  width: 90px;
  margin-left: 10px;
}

@media screen and (max-width: 960px) {
  .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
  }

  .nav-menu.active {
      background: #004aad;
      left: 0;
      opacity: 1;
      z-index: 1;
  }

  .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
  }

  .nav-icon {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-100%, -50%);
      cursor: pointer;
  }
}
