
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

p{
    color: #000000;
}
a, .btn{
    transition: all 300ms ease;
}
nav, .nav-sections{
    display: flex;
    
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.content{
    font-size: 20px;
    font-weight: 600;
}
.content:hover{
    cursor:default;
}
.nav-sections{
    gap: 2rem;
    list-style: none;
    font-size: 18px;
    
}
a{
    color: #000000;
    text-decoration: none;
    text-decoration-color: #fff;
}
a:hover{
    color: #5371ff;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.icon{
    cursor: pointer;
}
