.swiper-container {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  min-height: 400px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none; /* Hide pagination bullets */
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #6397f0 !important;
}

.swiper-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: auto;
  max-width: 90%; /* Adjust this value to ensure slides don't overflow */
  margin: auto; /* Center the slides */
  height: 380px;
}

.text-center {
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .swiper-slide {
    flex-direction: column;
    padding: 20px;
    width: 90%; /* Adjust width for smaller screens */
  }
  .description {
    padding-left: 0;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .swiper-slide {
    padding: 80px;
    max-width: 50%; /* Reduce width for larger screens */
    max-height: 500px; /* Increase height for larger screens */
  }
}
