.swiper-container {
  width: 100%; /* Ensure the container spans the entire width of its parent */
  overflow: hidden; /* Hide any overflowing content */
}

.swiper-wrapper {
  min-height: 400px;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 50%;
  margin-left: 400px;
}
.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #6397f0 !important;
}
.swiper-slide{
  display: flex;
  align-items: start;
}