.swiper-container {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  min-height: 400px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none; /* Hide pagination bullets */
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #6397f0 !important;
}

.swiper-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: auto;
  max-width: 90%;
  height: 380px;
}

.text-center {
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-image {
  width: 30%;
  height: 30%;
  border-radius: 5%;
}

@media (max-width: 768px) {
  .swiper-slide {
    flex-direction: column !important;
    padding: 20px;
    width: 50%!important; /* Adjust width for smaller screens */
    height: 20% !important; /* Decrease height for smaller screens */
  }

  .slide-image {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }

  .description {
    padding-left: 0;
    text-align: center;
  }

  .hide-on-small {
    display: none; /* Hide message on small screens */
  }
}

@media (min-width: 1024px) {
  .swiper-slide {
    padding: 80px;
    max-width: 50%; /* Reduce width for larger screens */
    max-height: 500px; /* Increase height for larger screens */
  }
}
